@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
 
    body{
        background-color: #703f0898;
        font-family: "Outfit", sans-serif;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    *{
            margin: 0;
            padding: 0;
            /* overflow: hidden; */
        }
    h2{
        margin-top: 2vw;
        font-size: 3em;
        background-color: rgb(255, 255, 255);
        width: 20vw;
        justify-self: center;
        text-align: center;
        border-radius: 20px;

    }
    a{
        text-decoration: none;
        color: rgb(138, 93, 11);
        transition: 0.3s ease;
    }
    a:hover{
            color: black;
            /* transform: scale(2); */
        }
    .content{
            font-size: 3em;
        }
        li{
            margin-top: 1vw;
            margin-bottom: 1vw;
            /* background-color: black; */
        }
        h4{
            justify-self: center;
            margin-top: 2vw;
        }