@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
        *{
            margin: 0;
            padding: 0;
            /* overflow: hidden; */
        }

h1{
    font-size: 10em;
    background-color: rgba(255, 255, 255, 0.699);
    width: 80%;
    text-align: center;
    justify-self: center;
    margin-top: 3vw;
    border-radius: 20px;
    justify-content: center;
    /* background-color: ; */
    
}
body{
    background-color: rgba(0, 0, 0, 0.473);
    font-family: "Outfit", sans-serif;
    background-image: url(imgs/page-1/hero.png);
    /* display: flex; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(138, 93, 11);
    transition: 0.3s ease;
}
a:hover{
    color: black;
    /* transform: scale(2); */
}